body {
	background: #FFFFFF url(images/img01.gif) repeat-x;
	font-family: Verdana, Arial, sans-serif;
	font-size: 15px;
	color: #000000;
}
	

a:link {
	color: #000000; 
	text-decoration: underline;
}

a:visited {
	color: #000000;
	text-decoration: underline;
}

a:hover {
	color: #FF0000;
	text-decoration: none;
}

/*Overrides anchor behavior for header*/
.linkalt{
	color: #FFFFFF !important;
	text-decoration: none !important;
}

#header {
	/*gradients for multiple browsers*/
	background-image: -webkit-linear-gradient(bottom, #000000 0%, #DC143C 100%);
	background-image: -moz-linear-gradient (bottom, #000000 0%, #DC143C 100%);
	background-image: -ms-linear-gradient (bottom, #000000 0%, #DC143C 100%);
	color: #FFFFFF;
	font-size: 50px;
	font-variant: small-caps;
	font-weight: bold;
	text-align: center;
	/*text-shadow: #FF0000 0 0 0.2em;*/
}


#heading_0, #heading_1 {
	color: #DC143C;
	font-size: 18px;
	font-variant: small-caps;
	font-weight: bold;
	background: #FFFFF0;
	border-bottom-color: #DC143C;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	/* width: 300px;*/
}

#info td {
	text-align: left;
	border: 1px solid #000000;
	padding: 3px 7px 2px 7px;
}

#info tr.alt td {
	background-color: #FFFFF0;
}